{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Post{% endblock %}
{% block page_content %}
    <hr>
    {% include '_posts.html' %}
    {% if current_user.can(Permission.COMMIT) %}
        <h3>写下你的评论：</h3>
        <ul>{{ wtf.quick_form(form) }}</ul>
    {% endif %}
    <ul>
        <hr>
        {% if comments|length == 0 %}
            <h4>该博客还没评论，赶快来抢沙发吧。</h4>
        {% else %}
            {% include '_comments.html' %}
        {% endif %}
        {% if pagination.pages > 1 %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.post', id=posts[0].id) }}
            </div>
        {% endif %}
    </ul>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}